html, body {
    height: 100%;
    background: #f5f5f5;
}

#wrapper {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #FFFFFF;
    box-shadow: 0px 1px 4px grey;
    height: 100px;
    padding: 10px 0;
    background: #EEEEEE;
}

.content {
    width: 68.5%;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
}

#progress {
    display: inline-block;
    width: 70%;
}

.nav-buttons {
    display: inline-block;
    width: 30%;
}

.button-wrapper {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
}

.button-wrapper button {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
}

.button-wrapper .up {
    transform: rotate(-90deg);
    transform-origin: center;
}

.button-wrapper .down {
    transform: rotate(-90deg);
    transform-origin: center;
}

form {
    counter-reset: questions; 
}

.slide {
    width: 100%;
    display: none;
    padding: 40px;
}

.slide-visible {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.questao {
    width: 68.5%;
    font-family: 'Source Serif Pro', serif;
    font-size: 24px;
    line-height: 130%;
    color: #3D3D3D;
    margin-bottom: 30px;
}

.questao:before {
    position: absolute;
    margin-left: -60px;
    counter-increment: questions;
    content: counter(questions) "\2002\2192";
}

.opcoes {
    width: 68.5%;
    font-family: 'Source Sans Pro', sans-serif;
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
}

.opcao {
    display: block;
    margin: 9px 0;
    padding: 7px 35px 7px 7px;
    font-size: 20px;
    line-height: 130%;
    cursor: pointer;
    border: 1px solid rgba(79,176,174,0.6);
    background-color: rgba(79, 176, 174, 0.05);
    color: #4FB0AE;
    padding: 15px 10px;
    border-radius: 4px;
}

input, textarea {
    display: block;
    color: #4FB0AE;
    width: 100%;
    resize: none;
    background: none;
    outline: none;
    font-family: "Source Sans Pro",sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 30px;
    line-height: 40px;
}