.questao-numerar .opcao {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 10px;
    border-radius: 4px;
}

.questao-numerar .opcao input {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50px;
    width: 40px;
    margin: 0 20px 0 10px;
    background: none;
    border: 2px solid rgba(79,176,174,0.6);
    font-weight: bold;
    text-align: center;
    height: 40px;
    font-size: 25px;
}

.questao-numerar .opcao input:placeholder-shown {
    transition: all;
    border: none;
    border-left: 1px solid grey;
}

.questao-numerar .opcao input:focus {
    background: white;
}

.questao-numerar .opcao span {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}