.question__form {
    width: 100%;
    counter-reset: questionsTitle;
    background-color: inherit;
}

.question__form-title {
    display: block;
    font-size: 32px;
    font-weight: 400;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    margin: 0 0 1px;
    padding: 25px 65px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
}

.question {
    padding: 30px 90px;
    background-color: inherit;
}

.question:hover,
.question:focus,
.question.onfocus {
    transform: scale(1) translateZ(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3),0 -1px 10px rgba(0, 0,0, 0.1);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

.question.question__text {
    padding: 60px 65px 30px;
}

.question.question__text:hover,
.question.question__text:focus,
.question.question__text.onfocus {
    transform: none;
    box-shadow: none;
}

.question__title-container {
    display: block;
    margin-bottom: 10px;
}

.question__title {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}
.question__title:before {
    position: absolute;
    margin-left: -25px;
    counter-increment: questionsTitle;
    content: counter(questionsTitle);
}

.question__text .question__title{
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    color: rgba(47, 25, 95, 1);
}

.question__text .question__title:before {
    counter-increment: unset;
    content: "";
}

.question__rating-order {
    counter-reset: questionsRating;
}

.question__rating-order .question__option {
    padding: 0 30px;
}

.question__rating-order .question__option:before {
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    margin-left: -30px;
    counter-increment: questionsRating;
    content: counter(questionsRating, upper-alpha) ")";
}

.question__rating-order .question__option__text {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
}