.questao-numerar .opcao {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 10px;
    border-radius: 4px;
}

.questao-numerar .opcao input {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50px;
    width: 40px;
    margin: 0 20px 0 10px;
    background: none;
    border: none;
    font-weight: bold;
    text-align: center;
    height: 40px;
    font-size: 25px;
    opacity: 0.6;
}

.questao-numerar input.input-tab-selected {
    font-size: 1.3em;
    width: 60px;
    height: 60px;
    opacity: 1;
    margin: 0 10px 0 5px;
}

.questao-numerar .opcao input:placeholder-shown {
    border: none;
    border-bottom: 3px solid grey;
}

.questao-numerar ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: gray;
  }
  .questao-numerar  ::-moz-placeholder { /* Firefox 19+ */
    color: gray;
  }
  .questao-numerar :-ms-input-placeholder { /* IE 10+ */
    color: gray;
  }
  .questao-numerar :-moz-placeholder { /* Firefox 18- */
    color: gray;
  }

.questao-numerar .opcao input:focus {
    background: white;
}

.questao-numerar .opcao span {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}